@model RadoHub.ViewModels.CookingRecipes.CookingRecipeViewModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="lifestyle-cooking">
    <div class="recipe-details">
        <header>
            <h1 class="title text-center">Cooking Recipes</h1>
        </header>
        <article class="container">
            <div class="title text-center">
                <h3>@Model.Title</h3>
            </div>
        </article>
    </div>
</div>


