@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="layout-administration row">
    <div class="col">
        <div class="title text-center">
            <a asp-area="Administration" asp-controller="Home" asp-action="Index"><h4>Administration</h4></a>
        </div>

        <div class="sub-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" asp-area="Administration" asp-controller="Home" asp-action="Index">Control Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Administration" asp-controller="UserAccount" asp-action="Index">Manage User Accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Administration" asp-controller="CookingRecipe" asp-action="Index">Manage Cooking</a>
                </li>
            </ul>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</div>
