@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
    <main class="container">
        @RenderBody()

        @section Scripts {
            @RenderSection("Scripts", required: false)
        }
    </main>