
@{
    ViewData["Title"] = "Index";
}

<h1 style="margin-bottom:75px;">Index</h1>

<p>Test Downloading file:</p>
<a asp-controller="Test" asp-action="DownloadFileTest" target="_blank">Click to test download</a>



