
@{
    ViewData["Title"] = "About";
}
<div class="about-me">
    <h1 class="name text-center">Radoslav Yordanov</h1>

    <header class="header container">
        <div class="row">
            <div class="col-md-5 col-12">
                <img src="~/images/bio/profile/Radoslav.jpg" style="width: 50%; border-radius: 50%;" />
            </div>
            <div class="col-md-7 col-12">
                <p><i class="far fa-envelope"></i> Email: yordanov@post.com</p>
                <p><i class="fab fa-github"></i> GitHub: <a href="https://github.com/radocodes">https://github.com/radocodes</a></p>
                <p><i class="fab fa-linkedin-in"></i> LinkedIn: <a href="https://www.linkedin.com/in/radoslav-yordanov-802a8bba">www.linkedin.com/in/radoslav-yordanov-802a8bba</a></p>
            </div>
        </div>
    </header>

    <section class="summary container">
        <h2>Summary</h2>
        <div>
            <p>Software engineer, who can play viola and violin.</p>
            <p>Fascinated by the capabilities of modern technologies, programming and web development, I began to study software technologies in the summer of 2016 at Software University in Sofia. Then I realized, this is what I totally want to do.</p>
            @*<br />*@
            <p>My professional background starts with something totally different - I start playing violin at the age of 5. In high school I replace it with viola. I have shared many years of my life with viola and moments in major symphony and opera scenes.</p>
            @*<br />*@
            <p>The personal soft skills that my artistic path has built up in me also help me in programming and software development every day. Being a better professional and working on a code with a high level of self-discipline, attention to detail, diligence and dedication.</p>
        </div>
    </section>

    <section class="technologies">
        <div class="container">
            <div class="row header">
                <div class="col-md-12 col-12">
                    <h2 class="text-center">Technical Skills</h2>
                </div>
            </div>
            <div class="row content">
                <div class="col-md-6 col-12 text-center list">
                    <h3>.NET</h3>
                    <hr />
                    <p>C#</p>
                    <p>ASP.NET Core</p>
                    <p>ASP.NET Core MVC</p>
                    <p>ASP.NET Core Web API</p>
                    <p>Entity Framework Core</p>
                    <p>MS SQL</p>
                </div>
                <div class="col-md-6 col-12 text-center list">
                    <h3>Front-End</h3>
                    <hr />
                    <p>HTML5</p>
                    <p>CSS</p>
                    <p>Javascript</p>
                    <p>jQuery</p>
                    <p>Ajax</p>
                </div>
            </div>
        </div>
    </section>

    <section class="projects">
        <div class="container">
            <div class="row header">
                <div class="col-md-12 col-12">
                    <h2 class="text-center">Projects</h2>
                </div>
            </div>
            <div class="row content">
                <div class="col-md-12 col-12">
                    <div>
                        <a href="http://emaivanova.com" target="_blank">
                            <h3 class="text-center">Ema Ivanova Art</h3>
                        </a>
                    </div>
                    <div class="img-container">
                        <a href="http://emaivanova.com" target="_blank">
                            <img class="project-img" src="~/images/bio/projects/WAG/WebArtGallery.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="education">
        <div class="container">
            <div class="row header">
                <div class="col-md-12 col-12">
                    <h2 class="text-center">Education</h2>
                </div>
            </div>
            <div class="row content">
                <div class="col-md-12 col-12">
                    <div class="information-technologies">
                        <div>
                            <a href="http://softuni.bg" target="_blank">
                                <h3 class="text-center">Software University</h3>
                            </a>
                        </div>
                        <table class="table table-borderless font-weight-bold">
                            <tbody>
                                <tr>
                                    <td>ASP.NET Core MVC</td>
                                    <td>2018- 2019</td>
                                </tr>
                                <tr>
                                    <td>C# Web Development - Basics</td>
                                    <td>2018</td>
                                </tr>
                                <tr>
                                    <td>Entity Framework Core - Databases Advanced</td>
                                    <td>2017</td>
                                </tr>
                                <tr>
                                    <td>MS SQL - Databases Basics</td>
                                    <td>2017</td>
                                </tr>
                                <tr>
                                    <td>OOP - Advanced</td>
                                    <td>2017</td>
                                </tr>
                                <tr>
                                    <td>OOP - Basics</td>
                                    <td>2017</td>
                                </tr>
                                <tr>
                                    <td>C# Advanced</td>
                                    <td>2017</td>
                                </tr>
                                <tr>
                                    <td>Programming - Fundamentals</td>
                                    <td>2017</td>
                                </tr>
                                <tr>
                                    <td>Programming - Basics</td>
                                    <td>2016</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="Music">
                        <div>
                            <a href="http://nma.bg" target="_blank">
                                <h3 class="text-center">
                                    National Academy Of Music -
                                    <br />
                                    "Prof. Pancho Vladigerov" - Sofia
                                </h3>
                            </a>
                        </div>
                        <table class="table table-borderless font-weight-bold">
                            <tbody class="text-center">
                                <tr>
                                    <td>Bachelor Degree - Viola</td>
                                </tr>
                                <tr>
                                    <td>Chamber Music</td>
                                </tr>
                                <tr>
                                    <td>Symphony Music</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="certificates">
        <div class="container shadow p-3 mb-5 bg-white rounded">
            <div class="row header">
                <div class="col-md-12 col-12">
                    <h2 class="text-center">IT Certificates</h2>
                </div>
            </div>
            <div class="row content">
                <div class="col-md-12 col-12">
                    <table class="table table-borderless font-weight-bold">
                        <tbody class="text-center">
                            <tr>
                                <td>
                                    <a href="https://softuni.bg/Certificates/Details/70719/70ea6c41" target="_blank">
                                        ASP.NET Core MVC
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://softuni.bg/Certificates/Details/57472/6dc9d778" target="_blank">
                                        Database - MS SQL Server
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://softuni.bg/Certificates/Details/23393/68f42b69" target="_blank">
                                        C# OOP Advanced
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://softuni.bg/Certificates/Details/19307/7ff1cb99" target="_blank">
                                        Programming Fundamentals
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://softuni.bg/Certificates/Details/15308/c73b05b7" target="_blank">
                                        Programming Basics
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>