@{
    ViewData["Title"] = "Home Page";
}
<div class="home">
    <div class="index">
        <div class="header container text-center">
            <h1 class="display-4 font-weight-bold">Rado's Hub</h1>
            <p>Welcome to my personal portal! I'm not sure is that a hub or a pub, but cheers!</p>
        </div>
        <div class="content">
            <div class="container">
                <div class="row about-row">
                    <div class="col-md-12 col-12">
                        <a asp-controller="Home" asp-action="About">
                            <div class="about-me-btn text-center">
                                <h1 class="display-4">About Me</h1>
                                <p class="lead">Find out more about me here</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row feeds">
                    <div class="col-md-12 col-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>