
@{
    ViewData["Title"] = "Control Panel";
}

<div class="admin-home">
    <div class="index">
        <header>
            <h1 class="title text-center">@ViewData["Title"]</h1>
        </header>
    </div>
</div>


