
@{
    ViewData["Title"] = "Index";
}

<div class="admin-home">
    <div class="index">
        <header>
            <h1 class="title text-center">Control Panel</h1>
        </header>
    </div>
</div>


