@model RadoHub.ViewModels.CookingRecipes.AdminGetAllRecipesViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="admin-cooking-recipe">
    <div class="index">
        <header>
            <div class="title">
                <h1 class="text-center">Manage Cooking Recipes</h1>
            </div>

            @if (ViewData["statusMessage"] != null)
            {
                <div class="status-message">
                    <h3>@ViewData["statusMessage"].ToString()</h3>
                </div>
            }
        </header>

        <section class="main-buttons container">
            <div>
                <div class="main-btn">
                    <a class="btn btn-success">Create new Recipe</a>
                </div>
            </div>
        </section>

        <section class="all-cooking-recipes-table">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Recipe in Model.AllCookingRecipes)
                    {
                        <tr>
                            <th scope="row">@Recipe.Id</th>
                            <td>@Recipe.Title</td>
                            <td>
                                <a class="btn btn-primary" href="#">Edit</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </section>
    </div>
</div>

